<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Linear Equations Solver</title>
</head>
<body>
    <h1>Input Equations</h1>
    <form action="/eq" method="POST">
        <label>Equation1</label>
        <input type="text" name="eq1">
        <br/>
        <label>Equation2</label>
        <input type="text" name="eq2">
        <br/>
        <input type="submit">
    </form>
</body>
</html>